label,
input,
.helptext {
    display: block;
    width: 100%;
    line-height: 1.5;
}

.helptext {
    font-size: .75rem;
    color: $subtle;
}

form ul {
    font-size: .75rem;
    color: $subtle;
}

button {
    width: 100%;
    text-align: center;
    color: $white;
    background-color: $brand;
    border: 1px solid $brand;
    border-radius: 3px;
    padding: .5rem 0;
    cursor: pointer;

}

input,
textarea {
    border-radius: 3px;
    padding: .5em .75em;
    line-height: 1.5;
    border: 1px solid $subtle;
}
